* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  background: url("/img/white-bg-cropped.jpg") no-repeat center center fixed;
  background-size: cover;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  position: relative;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

/* NAV BAR */

nav {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  position: absolute;
  z-index: 1;
  font-size: 20px;
}

nav .button {
  display: flex;
  align-items: center;
  font-size: 30px;
  cursor: pointer;

  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);

  visibility: hidden;
}

nav ul {
  margin-left: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  padding-right: 30px;
  font-weight: 600;
  font-size: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.userName {
  cursor: default;
}

nav li {
  list-style-type: none;
}

/* SIDE NAV */

.side-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  overflow: hidden;
  transition: all 0.5s ease;

  background-color: rgb(230, 230, 230);
  z-index: 5;
  transform: translateX(100%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.side-nav .button {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.side-nav a {
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: none;

  font-size: 20px;
  cursor: pointer;
}

.sideUserName,
.sideUserName li {
  cursor: default;
}

.side-nav li {
  list-style-type: none;
  width: 60vw;
  padding: 40px 0;
}

.first-li {
  border-bottom: 1px solid rgb(61, 61, 61);
}

.whole-page-container {
  overflow-x: hidden;
  transition: all 1s ease;
}

/* Media query for side nav */
@media only screen and (max-width: 750px) {
  nav .button {
    visibility: visible;
  }
  nav ul {
    visibility: hidden;
  }
}

/* Landing section */

.landing-section {
  height: 100vh;
  position: relative;
}

.landing-section .title-box {
  position: absolute;
  top: 30%;
  left: 8%;
}

.landing-section .title-box h1 {
  font-size: 35px;
  color: black;
  margin-bottom: 10px;
}

.landing-section .landing-img {
  width: 35%;
  position: absolute;
  top: 70px;
  right: 8%;
}

.landing-section .title-box button {
  border: none;
  outline: none;

  background-color: black;
  color: white;
  padding: 10px 20px;
  font-weight: 600;

  margin-top: 35px;
  transition: transform 0.2s ease;
}

.landing-section .title-box button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* About section */

.about-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  position: relative;
  display: flex;
  width: 100%;
}

.about-section .landing-img {
  width: 35%;
  margin-left: 75px;
  margin-right: 10vw;
}

.about-section .title-box {
  position: relative;
  padding-top: 4%;
  max-width: 40vw;
}

.about-section .title-box h1 {
  font-size: 35px;
  color: black;
  margin-bottom: 10px;
}

.about-section .title-box button {
  border: none;
  outline: none;

  background-color: black;
  color: white;
  padding: 10px 20px;
  font-weight: 600;

  margin-top: 35px;
  transition: transform 0.2s ease;
}

.about-section .title-box button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Login section */

.login-section {
  height: 100vh;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-section form {
  height: 70vh;
  width: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  background-color: #3b3c3f;
  border-radius: 5px;
}

.login-section h1 {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 400;
}

.login-section label {
  font-size: 20px;
  font-weight: 450;
}

.login-section input {
  outline: none;
  padding: 10px 20px;
  width: 300px;
  margin-top: 7px;
  margin-bottom: 30px;
  border-radius: 20px;
  border: 2px solid white;
}

.login-section input:focus {
  /* border: 2px solid rgb(60, 206, 194); */
}

.login-section button {
  border: none;
  outline: none;

  background-color: black;
  color: white;
  padding: 10px 20px;
  font-weight: 600;

  margin-top: 20px;
  transition: transform 0.2s ease;
}

.login-section button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Data section */

.data-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Title */

.data-section h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}

/* Data menu */

.data-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 25px;
  width: 30vw;
}

.data-option {
  padding: 15px 0;
  width: 50%;
  text-align: center;
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(235, 235, 235);
  border-radius: 50px;
}

.data-option:hover {
  cursor: pointer;
  background-color: rgb(223, 221, 221);
}

.selected-option {
  background-color: rgb(197, 197, 197);
}

.selected-option:hover {
  cursor: default;
  background-color: rgb(197, 197, 197);
}

/* Data box */

.data-box-border {
  height: 50vh;
  width: 30vw;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  overflow: hidden;
}

.data-box {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.data-item {
}

.data-item:nth-child(odd) {
  background-color: rgb(223, 221, 221);
}

.row {
  display: flex;
  align-items: center;
  padding: 20px 7px;
  margin: 0 20px;
  cursor: pointer;
}

.index {
  margin-right: 15px;
  pointer-events: none;
}

.name {
  pointer-events: none;
}

.more {
  border-top: 1px solid black;
  margin: 0 20px;
  padding: 0 7px;
}

.homework {
  padding: 10px 0;
  border-bottom: 1px solid rgb(128, 128, 128);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.homework:last-child {
  border: none;
}

.homework input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 30px;
  font-size: 17px;
  font-weight: 600;
}

.homework i {
  margin-left: 5px;
}

.homework:hover i {
  color: red;
}

.red-pen {
  color: red;
}

.homework i::before {
  pointer-events: none;
}

/* Scroll style */

.data-box {
  --scroll-color: rgb(223, 221, 221);
  --scroll-bg: rgb(194, 194, 194);
}

.data-box::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--scroll-color);
}

.data-box::-webkit-scrollbar {
  width: 12px;
  background-color: var(--scroll-color);
}

.data-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--scroll-bg);
}

.no-pointer {
  cursor: default;
}

@media only screen and (max-width: 1000px) {
  /* Landing section */

  .landing-section {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .landing-section .title-box {
    position: relative;
    top: 20px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landing-section .title-box p {
    text-align: center;
    margin-bottom: 10px;
  }

  .landing-section .landing-img {
    width: 50%;
    position: relative;
    top: 0;
    right: 0;
  }

  /* About section */

  .about-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }

  .about-section .landing-img {
    width: 50%;
    margin-left: 0;
    margin-right: 0;
  }

  .about-section .title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 0;
    max-width: 80vw;
  }

  /* Data section */
  .data-menu {
    width: 80vw;
  }
  .data-box-border {
    width: 80vw;
  }
}
